/* /styles/styles.css */
.products {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 200px;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  .home {
    padding: 20px;
    text-align: center;
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  /* styles.css o el archivo CSS correspondiente */
.product-card {
  width: 200px; /* Ancho deseado */
  height: 300px; /* Altura fija o proporcional */
  padding: 10px;
  border: 1px solid #ddd; /* Borde opcional */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff; /* Fondo opcional */
}

.product-image {
  width: 100%; /* La imagen ocupará todo el ancho del contenedor */
  max-width: 150px; /* Máximo tamaño de la imagen */
  max-height: 200px; /* Altura máxima */
  object-fit: contain; /* Asegura que la imagen no se deforme */
  margin-bottom: 10px;
}

.product-name, .product-price {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.product-price {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

  
  .product-card h2 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .product-card p {
    margin: 5px 0;
  }
  
  